node_modules
.turbo
.git
.idea
*.log
.env
.env.*
.container/deploy.env
.container/demo/deploy.env
.temp
dist
storage
coverage
apps/*/*/node_modules
apps/*/*/dist
packages/*/node_modules
*.tsbuildinfo
